.elementor-7981 .elementor-element.elementor-element-32081254 > .elementor-container{max-width:1096px;}.elementor-7981 .elementor-element.elementor-element-32081254{overflow:hidden;padding:110px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-28217528 > .elementor-element-populated{padding:20px 44px 110px 24px;}.elementor-7981 .elementor-element.elementor-element-7b92ae60 .elementor-heading-title{color:#1B4053;font-family:"aktiv-grotesk-extended", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;line-height:32px;}.elementor-7981 .elementor-element.elementor-element-7b92ae60 > .elementor-widget-container{margin:20px 0px 20px 0px;}.elementor-7981 .elementor-element.elementor-element-38ea3572{text-align:left;color:#707070;font-family:"aktiv-grotesk", Sans-serif;font-size:16px;font-weight:400;line-height:26px;}.elementor-7981 .elementor-element.elementor-element-38ea3572 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-1438d1a > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 24px 120px 0px;}.elementor-7981 .elementor-element.elementor-element-1438d1a > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-7981 .elementor-element.elementor-element-5b129173{text-align:left;}.elementor-7981 .elementor-element.elementor-element-5b129173 img{width:100%;max-width:100%;}.elementor-7981 .elementor-element.elementor-element-661b11a > .elementor-widget-container{margin:0% 0% 0% 0%;}body:not(.rtl) .elementor-7981 .elementor-element.elementor-element-661b11a{right:-134px;}body.rtl .elementor-7981 .elementor-element.elementor-element-661b11a{left:-134px;}.elementor-7981 .elementor-element.elementor-element-661b11a{top:227px;z-index:-1;}.elementor-7981 .elementor-element.elementor-element-557a20b > .elementor-container{max-width:1440px;min-height:0px;}.elementor-7981 .elementor-element.elementor-element-557a20b:not(.elementor-motion-effects-element-type-background), .elementor-7981 .elementor-element.elementor-element-557a20b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F6F8FA;}.elementor-7981 .elementor-element.elementor-element-557a20b > .elementor-background-overlay{opacity:1;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-7981 .elementor-element.elementor-element-557a20b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-7981 .elementor-element.elementor-element-4e82bc4.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-7981 .elementor-element.elementor-element-4e82bc4.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-7981 .elementor-element.elementor-element-4e82bc4:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-7981 .elementor-element.elementor-element-4e82bc4 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1B4053;}.elementor-7981 .elementor-element.elementor-element-4e82bc4 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0% 0% 0% 0%;}.elementor-7981 .elementor-element.elementor-element-4e82bc4 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-7981 .elementor-element.elementor-element-dee15d5.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-7981 .elementor-element.elementor-element-dee15d5.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-7981 .elementor-element.elementor-element-dee15d5 > .elementor-element-populated{padding:100px 40px 120px 60px;}.elementor-7981 .elementor-element.elementor-element-047f192 .elementor-heading-title{color:#1B4053;font-family:"aktiv-grotesk-extended", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;line-height:32px;}.elementor-7981 .elementor-element.elementor-element-047f192 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-7981 .elementor-element.elementor-element-f545385{text-align:left;color:#707070;font-family:"aktiv-grotesk", Sans-serif;font-size:16px;font-weight:400;line-height:26px;}.elementor-7981 .elementor-element.elementor-element-f545385 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-16653cf > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-30fb7471 > .elementor-container{max-width:1076px;}.elementor-7981 .elementor-element.elementor-element-30fb7471{padding:80px 60px 20px 60px;}.elementor-7981 .elementor-element.elementor-element-7f654744.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-7981 .elementor-element.elementor-element-7f654744 > .elementor-element-populated{text-align:center;padding:0px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-6066b7bb > .elementor-container{max-width:470px;}.elementor-7981 .elementor-element.elementor-element-7a5666ad{text-align:center;width:var( --container-widget-width, 100% );max-width:100%;--container-widget-width:100%;--container-widget-flex-grow:0;align-self:center;}.elementor-7981 .elementor-element.elementor-element-7a5666ad .elementor-heading-title{color:#1B4053;font-family:"aktiv-grotesk-extended", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;line-height:32px;}.elementor-7981 .elementor-element.elementor-element-7a5666ad > .elementor-widget-container{margin:20px 0px 20px 0px;}.elementor-7981 .elementor-element.elementor-element-d4b59de{padding:0px 0px 40px 0px;}.elementor-7981 .elementor-element.elementor-element-e2600bb > .elementor-element-populated{padding:0% 5% 0% 0%;}.elementor-7981 .elementor-element.elementor-element-8b3cc77{text-align:left;color:#707070;font-family:"aktiv-grotesk", Sans-serif;font-size:16px;font-weight:400;line-height:26px;}.elementor-7981 .elementor-element.elementor-element-8b3cc77 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 20px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-1e63ace > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-7f0191a{text-align:left;color:#707070;font-family:"aktiv-grotesk", Sans-serif;font-size:16px;font-weight:400;line-height:26px;}.elementor-7981 .elementor-element.elementor-element-7f0191a > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-97f58a5 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-7981 .elementor-element.elementor-element-97f58a5:not(.elementor-motion-effects-element-type-background), .elementor-7981 .elementor-element.elementor-element-97f58a5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F6F8FA;}.elementor-7981 .elementor-element.elementor-element-97f58a5{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:20px 24px 10px 24px;}.elementor-7981 .elementor-element.elementor-element-97f58a5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-7981 .elementor-element.elementor-element-a40c2af{text-align:left;}.elementor-7981 .elementor-element.elementor-element-a40c2af .elementor-heading-title{color:#1B4053;font-family:"aktiv-grotesk-extended", Sans-serif;font-size:18px;font-weight:400;text-transform:uppercase;line-height:30px;}.elementor-7981 .elementor-element.elementor-element-a5e6492{text-align:left;}.elementor-7981 .elementor-element.elementor-element-a5e6492 > .elementor-widget-container{margin:0px 0px -25px 0px;padding:0px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-c543051 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-654ae8e{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;--padding-top:90px;--padding-right:50px;--padding-bottom:110px;--padding-left:60px;}.elementor-7981 .elementor-element.elementor-element-f72974b{--background-transition:0.3s;--padding-top:40px;--padding-right:30px;--padding-bottom:0px;--padding-left:0px;}.elementor-7981 .elementor-element.elementor-element-fcdbbd8{text-align:left;width:var( --container-widget-width, 100% );max-width:100%;--container-widget-width:100%;--container-widget-flex-grow:0;align-self:center;}.elementor-7981 .elementor-element.elementor-element-fcdbbd8 .elementor-heading-title{color:#1B4053;font-family:"aktiv-grotesk-extended", Sans-serif;font-size:24px;font-weight:400;text-transform:uppercase;line-height:32px;}.elementor-7981 .elementor-element.elementor-element-fcdbbd8 > .elementor-widget-container{margin:20px 0px 20px 0px;}.elementor-7981 .elementor-element.elementor-element-2dfb5a4{text-align:left;color:#707070;font-family:"aktiv-grotesk", Sans-serif;font-size:16px;font-weight:400;line-height:26px;}.elementor-7981 .elementor-element.elementor-element-2dfb5a4 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-accordion-item{border-width:0px;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-accordion-item .elementor-tab-content{border-width:0px;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-accordion-item .elementor-tab-title.elementor-active{border-width:0px;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-accordion-icon, .elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-accordion-title{color:#1B4053;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-accordion-icon svg{fill:#1B4053;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-active .elementor-accordion-icon, .elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-active .elementor-accordion-title{color:#1B4053;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-active .elementor-accordion-icon svg{fill:#1B4053;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-accordion-title{font-family:"aktiv-grotesk", Sans-serif;font-size:16px;font-weight:500;line-height:22px;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-tab-title{padding:5% 2% 5% 0%;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-tab-content{font-family:"aktiv-grotesk", Sans-serif;font-size:16px;font-weight:400;line-height:26px;padding:0px 50px 30px 0px;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-8a14749{--background-transition:0.3s;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0%;--padding-right:0%;--padding-bottom:0%;--padding-left:0%;}.elementor-7981 .elementor-element.elementor-element-ce2c419 .lae-posts-carousel .lae-posts-carousel-item{padding:0px;}.elementor-7981 .elementor-element.elementor-element-ce2c419 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-ce2c419{width:100%;max-width:100%;}:root{--page-title-display:none;}@media(max-width:1024px){.elementor-7981 .elementor-element.elementor-element-32081254{padding:80px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-28217528 > .elementor-element-populated{padding:24px 24px 80px 24px;}.elementor-7981 .elementor-element.elementor-element-1438d1a > .elementor-element-populated{padding:0px 24px 0px 0px;}body:not(.rtl) .elementor-7981 .elementor-element.elementor-element-661b11a{right:-31px;}body.rtl .elementor-7981 .elementor-element.elementor-element-661b11a{left:-31px;}.elementor-7981 .elementor-element.elementor-element-661b11a{top:72px;}.elementor-7981 .elementor-element.elementor-element-dee15d5 > .elementor-element-populated{padding:80px 50px 80px 50px;}.elementor-7981 .elementor-element.elementor-element-30fb7471{padding:50px 24px 0px 24px;}}@media(max-width:1024px){.elementor-7981 .elementor-element.elementor-element-ce2c419 .lae-posts-carousel .lae-posts-carousel-item{padding:0px;}}@media(max-width:767px){.elementor-7981 .elementor-element.elementor-element-32081254{margin-top:0px;margin-bottom:0px;padding:20px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-28217528 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-7981 .elementor-element.elementor-element-7b92ae60 .elementor-heading-title{font-size:20px;}.elementor-7981 .elementor-element.elementor-element-1438d1a > .elementor-element-populated{padding:0px 24px 80px 25px;}body:not(.rtl) .elementor-7981 .elementor-element.elementor-element-661b11a{right:-57.5px;}body.rtl .elementor-7981 .elementor-element.elementor-element-661b11a{left:-57.5px;}.elementor-7981 .elementor-element.elementor-element-661b11a{top:-18%;}.elementor-7981 .elementor-element.elementor-element-557a20b{padding:0px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-4e82bc4 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0% 0% 0% 0%;}.elementor-7981 .elementor-element.elementor-element-dee15d5 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-7981 .elementor-element.elementor-element-047f192 .elementor-heading-title{font-size:20px;}.elementor-7981 .elementor-element.elementor-element-30fb7471{padding:1px 24px 0px 24px;}.elementor-7981 .elementor-element.elementor-element-7f654744 > .elementor-element-populated{padding:50px 0px 0px 0px;}.elementor-7981 .elementor-element.elementor-element-7a5666ad .elementor-heading-title{font-size:20px;}.elementor-7981 .elementor-element.elementor-element-e2600bb > .elementor-element-populated{padding:0% 0% 0% 0%;}.elementor-7981 .elementor-element.elementor-element-1e63ace > .elementor-element-populated{margin:0px 0px 30px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0% 0% 0% 0%;}.elementor-7981 .elementor-element.elementor-element-97f58a5{padding:30px 0px 30px 0px;}.elementor-7981 .elementor-element.elementor-element-dfeffca > .elementor-element-populated{padding:0px 24px 0px 24px;}.elementor-7981 .elementor-element.elementor-element-a40c2af .elementor-heading-title{font-size:16px;line-height:22px;}.elementor-7981 .elementor-element.elementor-element-654ae8e{--flex-direction:column-reverse;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--padding-top:60px;--padding-right:24px;--padding-bottom:60px;--padding-left:24px;}.elementor-7981 .elementor-element.elementor-element-f72974b{--padding-top:0%;--padding-right:0%;--padding-bottom:0%;--padding-left:0%;}.elementor-7981 .elementor-element.elementor-element-fcdbbd8 .elementor-heading-title{font-size:20px;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-accordion-title{font-size:12px;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-tab-title{padding:5% 6% 5% 0%;}.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-tab-content{font-size:12px;padding:0% 6% 0% 0%;}.elementor-7981 .elementor-element.elementor-element-8a14749{--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0%;--padding-right:0%;--padding-bottom:0%;--padding-left:0%;}.elementor-7981 .elementor-element.elementor-element-ce2c419 > .elementor-widget-container{margin:0px 0px 0px -10px;}.elementor-7981 .elementor-element.elementor-element-ce2c419{width:auto;max-width:auto;}.elementor-7981 .elementor-element.elementor-element-ce2c419.elementor-element{--align-self:center;}}@media(max-width:767px){.elementor-7981 .elementor-element.elementor-element-ce2c419 .lae-posts-carousel .lae-posts-carousel-item{padding:0px;}}@media(min-width:768px){.elementor-7981 .elementor-element.elementor-element-28217528{width:50%;}.elementor-7981 .elementor-element.elementor-element-1438d1a{width:50%;}.elementor-7981 .elementor-element.elementor-element-4e82bc4{width:50%;}.elementor-7981 .elementor-element.elementor-element-dee15d5{width:50%;}.elementor-7981 .elementor-element.elementor-element-7f654744{width:100%;}.elementor-7981 .elementor-element.elementor-element-e2600bb{width:50%;}.elementor-7981 .elementor-element.elementor-element-1e63ace{width:50%;}.elementor-7981 .elementor-element.elementor-element-dfeffca{width:75%;}.elementor-7981 .elementor-element.elementor-element-007aa76{width:25%;}.elementor-7981 .elementor-element.elementor-element-654ae8e{--content-width:1096px;}.elementor-7981 .elementor-element.elementor-element-f72974b{--width:50%;}.elementor-7981 .elementor-element.elementor-element-8a14749{--width:50%;}}@media(max-width:1024px) and (min-width:768px){.elementor-7981 .elementor-element.elementor-element-28217528{width:60%;}.elementor-7981 .elementor-element.elementor-element-1438d1a{width:40%;}}/* Start custom CSS for image, class: .elementor-element-661b11a */.elementor-7981 .elementor-element.elementor-element-661b11a img{overflow:hidden;}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1438d1a */.elementor-7981 .elementor-element.elementor-element-1438d1a img:before {
    background-color: #34353c;
    background-image: url(../images/vg.svg);
    background-position: center;
    background-size: 280%;
    content: '';
    position: absolute;
    top: 60px;
    bottom: -30px;
    left: 60px;
    right: -30px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-557a20b */body[data-elementor-device-mode=desktop] .elementor-7981 .elementor-element.elementor-element-557a20b, body[data-elementor-device-mode=tablet] .elementor-7981 .elementor-element.elementor-element-557a20b {
    background: linear-gradient(
    to right,
    #1B4053 0%,
    #1B4053 30%,
    #f6f8fA 30%,
    #f6f8fA 100%
  );
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-7f0191a */.ticks1 ul li::before { 
font-family: "Font Awesome 5 Free"; 
content: "\f00c"; 
border-radius: 40px; background-color: #6fc486; padding: 9px 10px 5px 13px; color: #fff; font-weight: bold; display: inline-block; width: 2.7em; height: 2.7em; margin-left: -2.7em; font-size: 16px; position: absolute; left: -12px; top: 4px;;
}

.ticks1 ul {
    padding: 0;
    padding-left: 58px;
    list-style: none;
}
.ticks1 ul li {
    padding: 0 0 20px 0;
    position: relative;
}/* End custom CSS */
/* Start custom CSS for accordion, class: .elementor-element-4c8a6f3 */.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-accordion-title{
    display: flex;
}
.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-accordion-title span {
    font-size: 20px; 
    padding-right: 40px;
    border-right: 2px solid #eaeef0;
    margin-right: 50px;
      padding-right: 5%;
          margin-right: 6%;
    padding-top: 10px;
}
.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-accordion-item {
    
    border-bottom: 2px solid #eaeef0;
    border-bottom-width: 2px !important;
}


.elementor-7981 .elementor-element.elementor-element-4c8a6f3 .elementor-accordion-icon svg{

font-size: 38px    ;
    top:-8px;
    position: relative
    
}/* End custom CSS */
/* Start custom CSS for lae-posts-carousel, class: .elementor-element-ce2c419 */.elementor-7981 .elementor-element.elementor-element-ce2c419 p{
    margin-bottom: 0px
}
   .elementor-7981 .elementor-element.elementor-element-ce2c419 .slick-slide {
    opacity: 0;
   transition: opacity .5s ease-in;
}
.elementor-7981 .elementor-element.elementor-element-ce2c419 .slick-active {
    
       opacity: 1; 
 
}

.elementor-7981 .elementor-element.elementor-element-ce2c419  .slick-slide  img {
    opacity: 0;
    transform: translate(300px, 0px);
   transition: opacity .5s ease-in;
    transition: transform .3s ease-out;
}
.elementor-7981 .elementor-element.elementor-element-ce2c419 .slick-active  img  {
    position: 0px;
    transform: translate(0px, 0px);
       opacity: 1; 
 
}
.elementor-7981 .elementor-element.elementor-element-ce2c419 .elementor-widget-container{
    overflow: hidden;
}
.elementor-7981 .elementor-element.elementor-element-ce2c419 .slick-arrow {
    
     /*top: 55%;*/
     margin-top: 10px;
}
.elementor-7981 .elementor-element.elementor-element-ce2c419 .slick-next.slick-arrow
{
    background-color: #07799d;
    padding: 6px;
    border-radius: 50px;
    font-size: 0px;
    /*left: 26px;*/
    border: 0 !important;
    width: 40px;
    height: 40px;
 background: url(/wp-content/uploads/2022/12/arrow_slider_right_1.svg) center no-repeat #ccc;
 left:calc(50% + 66px);


}



.elementor-7981 .elementor-element.elementor-element-ce2c419 .slick-prev.slick-arrow
{
    background-color: #07799d;
    padding: 6px;
    border-radius: 50px;
    font-size: 0px;
    /*left: 26px;*/
    border: 0 !important;
    width: 40px;
    height: 40px;
 background: url(/wp-content/uploads/2022/12/arrow_selected_left_1.svg) center no-repeat #ccc;
 left:52%;

 z-index: 10;

}

.elementor-7981 .elementor-element.elementor-element-ce2c419 .lae-container .slick-arrow:before {
content: "";
font-size: 0px;

}

@media (max-width: 990px) {

.elementor-7981 .elementor-element.elementor-element-ce2c419 .elementor-heading-title {
       font-size:14px !important;
    line-height:20px !important;
   } 
     .elementor-7981 .elementor-element.elementor-element-ce2c419 p {
          font-size:14px !important;;
    line-height:20px !important;
         
     }
       .elementor-7981 .elementor-element.elementor-element-ce2c419 button.slick-arrow
{
    /*margin-top: 0%;*/
    
}

    
}


@media (max-width: 870px)  and (min-width: 768px) {


.elementor-7981 .elementor-element.elementor-element-ce2c419 .slick-prev.slick-arrow
{
     left:52%;
    
}


.elementor-7981 .elementor-element.elementor-element-ce2c419 .slick-next.slick-arrow
{
    
      left:calc(52% + 56px);
}
.ct_box_sm{
    top:30px;
}


}

@media (max-width: 767px){
    
    .ct_box_sm{
  top:40px;
}
    .ct_box_sm p{
        display:none;
  
}
    
}

@media (max-width:470px)  {
    .ct_box_sm{
    top:25px;
}

.elementor-7981 .elementor-element.elementor-element-ce2c419 .slick-next.slick-arrow
{
    
        left:calc(50% + 56px);
}
 .elementor-7981 .elementor-element.elementor-element-ce2c419 .elementor-heading-title {
       font-size:12px !important;
    line-height:16px !important;
   } 
     .elementor-7981 .elementor-element.elementor-element-ce2c419 p {
          font-size:12px !important;;
    line-height:16px !important;
         
     }
    
    }/* End custom CSS */
/* Start custom CSS */.ticks ul {
    padding: 0;
   padding-left: 58px;
    list-style: none;
    
    
}

.ticks ul li {
    padding: 0;
}


.ticks ul li::before {
    content: "f00c";
    font-family: "Font Awesome 5 Free";
    border-radius: 40px;
    background-color: #6fc486;
    padding: 9px 10px 5px 13px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 2.7em;
    height: 2.7em;
    margin-left: -2.7em;
    font-size: 16px;
    position: relative;
    left: -12px;
    top: 15px;
    }/* End custom CSS */