.elementor-8903 .elementor-element.elementor-element-51eea34b > .elementor-container{max-width:710px;min-height:500px;}.elementor-8903 .elementor-element.elementor-element-51eea34b:not(.elementor-motion-effects-element-type-background), .elementor-8903 .elementor-element.elementor-element-51eea34b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F6F8FA;}.elementor-8903 .elementor-element.elementor-element-51eea34b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:150px 60px 50px 60px;}.elementor-8903 .elementor-element.elementor-element-51eea34b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8903 .elementor-element.elementor-element-73826850{text-align:center;}.elementor-8903 .elementor-element.elementor-element-73826850 .elementor-heading-title{color:#1B4053;font-family:"aktiv-grotesk-extended", Sans-serif;font-size:28px;font-weight:400;line-height:32px;letter-spacing:0.3px;}.elementor-8903 .elementor-element.elementor-element-73826850 > .elementor-widget-container{margin:0px 0px 25px 0px;}.elementor-8903 .elementor-element.elementor-element-7624793b .elementor-author-box__name{color:#666666;}.elementor-8903 .elementor-element.elementor-element-7624793b .elementor-author-box__bio{color:#666666;}.elementor-8903 .elementor-element.elementor-element-7624793b > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-8903 .elementor-element.elementor-element-3d2f07f8 > .elementor-container{max-width:930px;}.elementor-8903 .elementor-element.elementor-element-3d2f07f8{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-300px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-8903 .elementor-element.elementor-element-3d2f07f8 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8903 .elementor-element.elementor-element-24c02b08:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-8903 .elementor-element.elementor-element-24c02b08 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-8903 .elementor-element.elementor-element-24c02b08 > .elementor-element-populated >  .elementor-background-overlay{background-color:transparent;background-image:radial-gradient(at center center, #00000000 0%, #000000B3 100%);opacity:0.1;}.elementor-8903 .elementor-element.elementor-element-24c02b08 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-8903 .elementor-element.elementor-element-24c02b08 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8903 .elementor-element.elementor-element-9dfe948{--spacer-size:480px;}.elementor-8903 .elementor-element.elementor-element-af96b22{--grid-side-margin:10px;--grid-column-gap:10px;--grid-row-gap:10px;--grid-bottom-margin:10px;--e-share-buttons-primary-color:#07799D;width:auto;max-width:auto;bottom:0px;}.elementor-8903 .elementor-element.elementor-element-af96b22 .elementor-share-btn{font-size:calc(0.85px * 10);}.elementor-8903 .elementor-element.elementor-element-af96b22 .elementor-share-btn__icon{--e-share-buttons-icon-size:2.2em;}.elementor-8903 .elementor-element.elementor-element-af96b22 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}body:not(.rtl) .elementor-8903 .elementor-element.elementor-element-af96b22{right:-50px;}body.rtl .elementor-8903 .elementor-element.elementor-element-af96b22{left:-50px;}.elementor-8903 .elementor-element.elementor-element-309ff2e7 > .elementor-container{max-width:744px;}.elementor-8903 .elementor-element.elementor-element-309ff2e7{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:30px;margin-bottom:0px;padding:40px 24px 80px 24px;}.elementor-8903 .elementor-element.elementor-element-309ff2e7 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8903 .elementor-element.elementor-element-4cc385f8 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-8903 .elementor-element.elementor-element-4cc385f8 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-8903 .elementor-element.elementor-element-4cc385f8 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8903 .elementor-element.elementor-element-ffa8840 .elementor-icon-list-icon i{color:#07799D;font-size:14px;}.elementor-8903 .elementor-element.elementor-element-ffa8840 .elementor-icon-list-icon svg{fill:#07799D;--e-icon-list-icon-size:14px;}.elementor-8903 .elementor-element.elementor-element-ffa8840 .elementor-icon-list-icon{width:14px;}.elementor-8903 .elementor-element.elementor-element-ffa8840 .elementor-icon-list-text, .elementor-8903 .elementor-element.elementor-element-ffa8840 .elementor-icon-list-text a{color:#07799D;}.elementor-8903 .elementor-element.elementor-element-ffa8840 .elementor-icon-list-item{font-family:"aktiv-grotesk", Sans-serif;font-size:13px;font-weight:400;text-transform:uppercase;line-height:36px;}.elementor-8903 .elementor-element.elementor-element-ffa8840 > .elementor-widget-container{padding:0px 0px 10px 47px;}.elementor-8903 .elementor-element.elementor-element-489263ea{font-family:"aktiv-grotesk", Sans-serif;font-size:16px;font-weight:400;line-height:28px;}.elementor-8903 .elementor-element.elementor-element-489263ea > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-8903 .elementor-element.elementor-element-ad8c9f7 .elementor-heading-title{color:#707070;font-family:"aktiv-grotesk", Sans-serif;font-size:13px;font-weight:400;text-transform:uppercase;line-height:21px;}.elementor-8903 .elementor-element.elementor-element-ad8c9f7 > .elementor-widget-container{margin:35px 0px 20px 0px;padding:0px 50px 0px 50px;}.elementor-8903 .elementor-element.elementor-element-657640b{--background-transition:0.3s;--padding-top:0px;--padding-right:47px;--padding-bottom:0px;--padding-left:47px;}.elementor-8903 .elementor-element.elementor-element-030d30b .elementor-icon-list-icon{width:14px;}.elementor-8903 .elementor-element.elementor-element-030d30b .elementor-icon-list-icon i{font-size:14px;}.elementor-8903 .elementor-element.elementor-element-030d30b .elementor-icon-list-icon svg{--e-icon-list-icon-size:14px;}.elementor-8903 .elementor-element.elementor-element-030d30b .elementor-icon-list-text, .elementor-8903 .elementor-element.elementor-element-030d30b .elementor-icon-list-text a{color:#FFFFFF;}.elementor-8903 .elementor-element.elementor-element-030d30b .elementor-icon-list-item{font-family:"aktiv-grotesk", Sans-serif;font-size:14px;font-weight:400;line-height:26px;}.elementor-8903 .elementor-element.elementor-element-030d30b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-8903 .elementor-element.elementor-element-030d30b{width:auto;max-width:auto;}.elementor-8903 .elementor-element.elementor-element-030d30b.elementor-element{--align-self:flex-start;}.elementor-8903 .elementor-element.elementor-element-c5a7c2a > .elementor-container{max-width:1320px;}.elementor-8903 .elementor-element.elementor-element-c5a7c2a:not(.elementor-motion-effects-element-type-background), .elementor-8903 .elementor-element.elementor-element-c5a7c2a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F6F8FA;}.elementor-8903 .elementor-element.elementor-element-c5a7c2a > .elementor-background-overlay{opacity:0.86;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8903 .elementor-element.elementor-element-c5a7c2a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:30px;margin-bottom:0px;padding:100px 24px 120px 24px;}.elementor-8903 .elementor-element.elementor-element-f46d370 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-8903 .elementor-element.elementor-element-f46d370 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-8903 .elementor-element.elementor-element-f46d370 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8903 .elementor-element.elementor-element-6d75fd5 .elementor-heading-title{color:var( --e-global-color-accent );font-family:"aktiv-grotesk-extended", Sans-serif;font-size:14px;font-weight:400;text-transform:uppercase;line-height:36px;}.elementor-8903 .elementor-element.elementor-element-6d75fd5 > .elementor-widget-container{padding:0px 0px 30px 0px;}.elementor-8903 .elementor-element.elementor-element-f1241b2{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-8903 .elementor-element.elementor-element-f54e1c2 > .elementor-widget-container{margin:50px 0px 0px 0px;}body.elementor-page-8903:not(.elementor-motion-effects-element-type-background), body.elementor-page-8903 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}@media(max-width:1024px){.elementor-8903 .elementor-element.elementor-element-9dfe948{--spacer-size:430px;} .elementor-8903 .elementor-element.elementor-element-af96b22{--grid-side-margin:10px;--grid-column-gap:10px;--grid-row-gap:10px;--grid-bottom-margin:10px;}.elementor-8903 .elementor-element.elementor-element-657640b{--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}}@media(max-width:767px){.elementor-8903 .elementor-element.elementor-element-51eea34b > .elementor-container{min-height:300px;}.elementor-8903 .elementor-element.elementor-element-51eea34b{padding:80px 24px 12px 24px;}.elementor-8903 .elementor-element.elementor-element-73826850 .elementor-heading-title{font-size:24px;line-height:28px;}.elementor-8903 .elementor-element.elementor-element-3d2f07f8{margin-top:-100px;margin-bottom:0px;}.elementor-8903 .elementor-element.elementor-element-24c02b08{width:100%;}.elementor-8903 .elementor-element.elementor-element-9dfe948{--spacer-size:250px;} .elementor-8903 .elementor-element.elementor-element-af96b22{--grid-side-margin:10px;--grid-column-gap:10px;--grid-row-gap:10px;--grid-bottom-margin:10px;}.elementor-8903 .elementor-element.elementor-element-ad8c9f7 .elementor-heading-title{font-size:16px;line-height:22px;}.elementor-8903 .elementor-element.elementor-element-657640b{--align-items:flex-start;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-8903 .elementor-element.elementor-element-6d75fd5 .elementor-heading-title{font-size:16px;line-height:22px;}}@media(min-width:768px){.elementor-8903 .elementor-element.elementor-element-24c02b08{width:100%;}.elementor-8903 .elementor-element.elementor-element-4cc385f8{width:100%;}.elementor-8903 .elementor-element.elementor-element-f46d370{width:100%;}}/* Start custom CSS for share-buttons, class: .elementor-element-af96b22 */.elementor-8903 .elementor-element.elementor-element-af96b22 {
  
}

.elementor-8903 .elementor-element.elementor-element-af96b22 .fa-facebook::before{
    
    
    content: "\f39e" !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-24c02b08 */.elementor-8903 .elementor-element.elementor-element-24c02b08 div {background-size: cover;
    background-position: center center;
    
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-3d2f07f8 */.elementor-8903 .elementor-element.elementor-element-3d2f07f8 {overflow-y: visible;
    overflow-x: clip;}/* End custom CSS */
/* Start custom CSS for theme-post-content, class: .elementor-element-489263ea */.elementor-8903 .elementor-element.elementor-element-489263ea ul {padding-left:  63px;
  list-style: none;
    margin-bottom: 1.8em;
    
}

.elementor-8903 .elementor-element.elementor-element-489263ea ul li::before {
  content: "\2022";
  color: #d3dee3;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  font-size: 17px
}
.elementor-8903 .elementor-element.elementor-element-489263ea ul li {
    margin-bottom: 0.5em
  
}
.elementor-8903 .elementor-element.elementor-element-489263ea p {
    
    padding-left: 47px;
    padding-right: 47px;
}
.elementor-8903 .elementor-element.elementor-element-489263ea p img{
    
    margin-left: -47px;
}
.elementor-8903 .elementor-element.elementor-element-489263ea h1,h2,h2,h4,h5 {
    
    padding-left: 47px;
    padding-right: 47px;
}
/* Medium devices (tablets/desktops, 768px and up) */
@media only screen and (max-width: 1024px) {
.elementor-8903 .elementor-element.elementor-element-489263ea p {
padding-left: 0px;
padding-right: 0px;
}
.elementor-8903 .elementor-element.elementor-element-489263ea ul {padding-left:  14px;
  list-style: none;
    margin-bottom: 1.8em;
    
}
.elementor-8903 .elementor-element.elementor-element-489263ea h1,h2,h2,h4,h5 {
    
    padding-left: 0px;
    padding-right: 0px;
}
.elementor-8903 .elementor-element.elementor-element-489263ea p img{
    
    margin-left: 0px;
}
}
  

.elementor-8903 .elementor-element.elementor-element-489263ea blockquote, .elementor-8903 .elementor-element.elementor-element-489263ea blockquote pre{
    color:#1b4053;
    margin: 0;
    font-size: 24px;
    line-height: 32px;
   font-family: 'aktiv-grotesk', 'Sans-Serif' ;
    
}
.elementor-8903 .elementor-element.elementor-element-489263ea img{
    margin-bottom: 36px;
    margin-top: 10px;

    
}
.elementor-8903 .elementor-element.elementor-element-489263ea pre{
    margin: 0px;

    
}
.elementor-8903 .elementor-element.elementor-element-489263ea hr{
    border: 1px solid #eaeef0;
}

.elementor-8903 .elementor-element.elementor-element-489263ea {
    border-bottom: 2px solid #eaeef0;
  
}
.da-article .elementor-widget-wrap.elementor-element-populated {
    padding: 10px 0px;
}
.da-article blockquote {
    margin-bottom: 34px!important;
}
.da-article blockquote p {
   padding:0px!important;
}
.elementor-8903 .elementor-element.elementor-element-489263ea {
   
}/* End custom CSS */
/* Start custom CSS for post-info, class: .elementor-element-030d30b */.elementor-8903 .elementor-element.elementor-element-030d30b {
    background-color: #07799d;
    padding: 5px 20px;
    border-radius: 30px;
   
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-f1241b2 */.elementor-8903 .elementor-element.elementor-element-f1241b2 .elementor-posts .elementor-post img {
 object-fit: cover; 
   height: 220px;
    margin-left: -2px;
      max-width: 100.8%;
      
}

.elementor-8903 .elementor-element.elementor-element-f1241b2 .elementor-posts .elementor-post {
 	border-style: solid;
    border-width: 0px 2px 2px 2px;
    border-color: #EAEEF0;
    }
.elementor-8903 .elementor-element.elementor-element-f1241b2 img {
  
}


.elementor-8903 .elementor-element.elementor-element-f1241b2 article {
    
    background-color: #fff;
}

.elementor-8903 .elementor-element.elementor-element-f1241b2 .elementor-heading-title {/*
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 354px;  set your desired width */
}/* End custom CSS */